body {
  width: 960px;
  text-align: center;
  margin: auto;
}

template {
  display: none;
}

main{
  display: flex;
}

#left{
  order: 1;
  height: 500px;
}

#main{
  order: 2;
  height: 500px;
}

#right{
  order: 3;
  height: 500px;
}

